.table
  .table-row
    .table-cell.sidebar
      %h2
        %br
        Oakland Adopt a Spot
        [MAINTAIN A DRAIN]
      #logo
        = image_tag "logos/adoptadrain.png", :alt => t("titles.main", :thing => t("defaults.thing").titleize), :title => t("titles.main", :thing => t("defaults.thing").titleize)
      %p.alert-message.block-message#tagline
        = t("defaults.tagline")
      #content
        = render :partial => "sidebar/combo_form"
      #logos
        %a{:href => "http://openoakland.org/"}
          = image_tag "logos/openoakland.png", :width => '180px', :alt => t("sponsors.cfa"), :title => t("sponsors.cfa")
    .table-cell#map
      &nbsp;
