%h2
  = t("titles.thanks_for_feedback", :thing => t("defaults.thing").titleize)

%p
  - if @statusCode==1
    = "Thanks for reporting that the drain is clean"
  - if @statusCode==2
    = "Thanks for reporting a malfunctioning drain"
  - if @statusCode==3
    = "Thanks. Consider adopting a drain near where you are on work days."

